# Special Codility files
interview_twitter1.cpp
interview_twitter2.cpp
challenge_*.cpp

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
